In [2]:
import pandas as pd

In [3]:
dicionario = {"Autores" : ["Rick Riordan", "J. R. R. Tolkien", "Rick Riordan", "Machado de Assis"],
"Titulos" : ["O Ladrão de Raios", "A Sociedade do Anel", "Mar de Monstros", "Memórias Postumas de Brás Cubas"], "Preços" : [41.2, 35.7, 39.5, 40.5]}

In [4]:
dataframe = pd.DataFrame(dicionario)

In [5]:
print(dataframe)

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J. R. R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5

In [6]:
print(dataframe["Autores"])

0        Rick Riordan
1    J. R. R. Tolkien
2        Rick Riordan
3    Machado de Assis
Name: Autores, dtype: object

In [7]:
print(dataframe["Autores"][0])

Rick Riordan

In [8]:
dataframe["Preços"].mean()

39.225

In [9]:
mascara = (dataframe["Autores"] == "Rick Riordan")

In [10]:
dataframe[mascara]

        Autores            Titulos  Preços
0  Rick Riordan  O Ladrão de Raios    41.2
2  Rick Riordan    Mar de Monstros    39.5

In [11]:
new_row = {"Autores": "Rick Riordan", "Titulos": "A maldição do titã", "Preços": 19.99}

dataframe = pd.concat([dataframe, pd.DataFrame([new_row])], ignore_index=True)

In [13]:
print(dataframe)

mascara_correcao = dataframe["Autores"] == "Rick Riordan"

dataframe[mascara_correcao]

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios   41.20
1  J. R. R. Tolkien              A Sociedade do Anel   35.70
2      Rick Riordan                  Mar de Monstros   39.50
3  Machado de Assis  Memórias Postumas de Brás Cubas   40.50
4      Rick Riordan               A maldição do titã   19.99

        Autores             Titulos  Preços
0  Rick Riordan   O Ladrão de Raios   41.20
2  Rick Riordan     Mar de Monstros   39.50
4  Rick Riordan  A maldição do titã   19.99