In [8]:
import pandas as pd

In [9]:
videoGameBank = { "Videogame": ["Nintendo", "Playstation", "Xbox", "Computador"], "Jogos Disponíveis": [10,20,30,1000], "Jogos Adquiridos": [5,10,15,500]}

videoGameDataFrame = pd.DataFrame(videoGameBank)

In [10]:
videoGameDataFrame

     Videogame  Jogos Disponíveis  Jogos Adquiridos
0     Nintendo                 10                 5
1  Playstation                 20                10
2         Xbox                 30                15
3   Computador               1000               500

In [11]:
videoGameDataFrame = pd.concat([videoGameDataFrame, pd.DataFrame({"Videogame": ["Super Nintendo"], "Jogos Disponíveis": [2000], "Jogos Adquiridos": [1000]})], ignore_index=True)

In [12]:
videoGameDataFrame

        Videogame  Jogos Disponíveis  Jogos Adquiridos
0        Nintendo                 10                 5
1     Playstation                 20                10
2            Xbox                 30                15
3      Computador               1000               500
4  Super Nintendo               2000              1000